.sales-plan-page {
  padding: 16px;

  .table-item-link {
    color: #1890ff;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  .table-item-link-normal {
    cursor: pointer;
    &:hover {
      color: #1890ff;
    }
  }
}
